{#
/**
 * @file
 * Default theme implementation to print a greeting message.
 *
 * Available variables:
 *   - greeting_text: the greeting message set by the content editor.
 *
 * @see template_preprocess_greeting()
 *
 * @ingroup themeable
 */
#}
<div class="greeting_text">
  <p>{{ greeting_text }}</p>
</div>
